extends ../../tpl/settings

block body
  ul.thumbnails
    mixin li_select('spanarea', span_list, span, 'Span')
    mixin li_select('offsetarea', span_list, offset, 'Offset')
  form
    fieldset(style='padding-left: 10px;')
      textarea.text#text_content(name='text', style='width:100%;height:260px;')
        != text                                                          
