extends ../../tpl/settings

block body
  ul.nav.nav-tabs
    li.active
      a(href='#tab1', data-toggle='tab') Data 
    li: a(href='#list',data-toggle='tab') List			
    li: a(href='#upload', data-toggle='tab') Upload      
  .tab-content
    .tab-pane#list
      include ../../tpl/settings_list	
    .tab-pane#upload
      form.form-inline.well(name='upload',action='/uploads',method='post',enctype='multipart/form-data',target='image_upload')
        fieldset(style='padding-left:20px')
          input.file(type='file',name='image')
          button.btn.btn-warning.upload(type='submit') Upload
          iframe.span8(name='image_upload',height='50',frameborder="0")
    .tab-pane.active#tab1        
      ul.thumbnails
        mixin li_select('spanarea', span_list, span, 'Span')
        mixin li_select('offsetarea', span_list, offset, 'Offset')
      form
        fieldset(style='padding-left: 20px;')
          mixin input_text(image, 'image', 'Image')
          mixin input_text(link, 'link', 'Link')
          mixin title(title)
          mixin text(text, 'Content', 2)        