.thumbnail
	if link
		a(href= link): img(src= image)
	else 
		img(src= image)
	.caption
		h5!= title
		p!= text
		p
			each button in list 
				a.btn.btn-large(class="btn-" + button.type, href= button.link ? button.link : "#")!= button.title
				| &nbsp;