.container
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
          a.brand(href='write.html') 
             | Bootstrap Writer
          .nav-collapse
            ul.nav
              li.toolbar   
            ul.nav.pull-right
              li.menubox.btn-toolbar
//  .menubox                  
.span12.logic-view
  // .toolbar
  .titlebar
  .contents
  .stylebox
  footer.footer
    em designed by <a href="mailto:cyberuls@gmail.com">easylogic</a> - <a href="http://github.com/easylogic/bootstrap-writer" target="_blank">http://github.com/easylogic/bootstrap-writer</a>
    
.part-edit-drop.modal-backdrop.fade.in  