each obj, key in App.menubox
	div.btn-group
		a.btn.dropdown-toggle(data-toggle="dropdown", class= obj.view )!= obj.name
			| &nbsp;
			span.caret
		ul.dropdown-menu
			each name in obj.list
				- var toy = App.list[name]
				li
					a(href='#', data-name='toy', data-type= toy.type, style='cursor:pointer')
						i(class= toy.icon, style='padding-right:10px')
						!= toy.name