.container
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        if App.static 
          a.brand(href='/sample/write.html') 
             | Bootstrap Writer
          ul.nav
            li.toolbar                
            li.menubox
        else
          a.brand(href='/') 
             | Bootstrap Writer
          .nav-collapse
            ul.nav
              li.toolbar                
              li.menubox  
//  .menubox                  
.span12.logic-view
  // .toolbar
  .titlebar
  .contents
  .stylebox
  footer.footer
    em designed by <a href="cyberuls@gmail.com">easylogic</a>
    
.part-edit-drop.modal-backdrop.fade.in  