extends ../../tpl/settings

block body
  ul.nav.nav-tabs
    li.active
      a(href='#tab1', data-toggle='tab') Data      
    li
      a(href='#upload', data-toggle='tab') Upload      
  .tab-content
    .tab-pane#upload
      form.form-inline(name='upload', action='/uploads',method='post',enctype='multipart/form-data',target='file_upload')
        fieldset(style='padding-left:20px')
          input.file(type='file',name='image')
          button.btn.btn-warning.upload(type='submit') Upload
          iframe.span4(name='file_upload',height='50',frameborder="0")
    .tab-pane.active#tab1        
      ul.thumbnails
        mixin li_select('spanarea', span_list, span, 'Span')
        mixin li_select('offsetarea', span_list, offset, 'Offset')
      form.well
        fieldset(style='padding-left: 20px;')
          mixin title(title, 'Title')
          mixin text(text, 'Link')
