table(width="100%")
  tr(style='height:5px')
    td.target-left.target-text(align='center')
      a.btn.btn-mini.settings-btn(class= App.list[type].view)
        i(class= App.list[type].icon)
        | &nbsp;
        != App.list[type].name
    td.target-middle(text-align="left", width="80%")   